In [1]:
import pandas as pd
import numpy as np
import pandas_profiling

#Import libs
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.ticker as mticker
%matplotlib inline

import seaborn as sns

import plotly.express as px
import plotly.graph_objects as go

print("Setup Complete")

Setup Complete

In [ ]:
#Data Load
#-------------- Kaggle 2020 ---------------------
kaggle2020File = "2020_kaggle_survey_2020_responses.csv"
kaggle2020 = pd.read_csv(kaggle2020File, low_memory=False)
descriptions = kaggle2020.loc[0:1,:]
df = kaggle2020.loc[1:,:]

print('Data Loaded')
pd.set_option('display.max_columns', None)

Data Loaded

In [ ]:
figtext_arg = dict(
            horizontalalignment='center',
            fontsize=12,
            wrap=True,
            alpha=0.65
)

In [ ]:
columns = list(range(1,20))

In [ ]:
columns += list(range(53,94))
columns += [107,108,118,119,243]

In [ ]:
# columns

In [ ]:
kaggle2020 = df.iloc[:,columns]

In [ ]:
# kaggle2020.head()

In [ ]:
# df.columns

In [ ]:
## Data preparation 2020

#Single choice questions
single = ['Q1','Q2','Q3','Q4','Q5','Q6','Q15', 'Q20', 'Q21', 'Q24','Q25','Q38']

#Multiple choice questions
multi = ['Q7', 'Q14', 'Q16', 'Q17','Q23']

selected_columns = single

for m in multi:
    i = 1
    while True:
        qPart = (m+"_Part_"+str(i))
        if qPart not in kaggle2020.columns:
            break
        selected_columns.append(qPart)
        i = i+1
    if m+"_OTHER" in kaggle2020.columns:
        selected_columns.append(m+"_OTHER")

In [ ]:
DSjob1 = kaggle2020
DSjob1['Q1'].replace({'18-21': 0,'22-24': 1,'25-29': 2,'30-34': 3,'35-39': 4,'40-44': 5,'45-49': 6,'50-54': 7,'55-59': 8,'60-69': 9,'70+': 9}, inplace=True)
DSjob1['Q2'].replace({'Man': 0,'Woman': 1,'Nonbinary': 2,'Prefer not to say': 2,'Prefer to self-describe': 2}, inplace=True)
# Q3: country
DSjob1['Q4'].replace({'Master’s degree': 3,
 'Bachelor’s degree':2,
 'Doctoral degree':4,
 'Some college/university study without earning a bachelor’s degree': 1,
 'Professional degree':5,
 'I prefer not to answer': 0,
 'No formal education past high school': 1}, inplace=True) # 결측치 0에
# Q5: current role
DSjob1['Q6'].replace({'3-5 years':3,
 '1-2 years':2,
 '< 1 years':1,
 '5-10 years':4,
 '10-20 years':5,
 '20+ years':6,
 'I have never written code': 0}, inplace=True)
DSjob1['Q15'].replace({'Under 1 year': 1,
 '1-2 years': 2,
 'I do not use machine learning methods': 0,
 '2-3 years': 3,
 '3-4 years': 4,
 '5-10 years': 6,
 '4-5 years': 5,
 '10-20 years': 7,
 '20 or more years': 8}, inplace=True)
DSjob1['Q20'].replace({'0-49 employees':1,
 '10,000 or more employees':5,
 '1000-9,999 employees':4,
 '50-249 employees':2,
 '250-999 employees':3,'unknown': 0 }, inplace=True) # 결측치 0(unknown)
DSjob1['Q21'].replace({'1-2':2, '0':1, '20+':7, '3-4':3, '5-9':4, '10-14':5, '15-19':6, 'unknown': 0}, inplace=True)# 결측치 0(unknown)
DSjob1['Q24'].replace({'$0-999':0,
 '10,000-14,999':7,
 '1,000-1,999':1,
 '100,000-124,999':18,
 '40,000-49,999':12,
 '30,000-39,999':11,
 '50,000-59,999':13,
 '5,000-7,499':5,
 '15,000-19,999':8,
 '60,000-69,999':14,
 '20,000-24,999':9,
 '70,000-79,999':15,
 '7,500-9,999':6,
 '150,000-199,999':20,
 '2,000-2,999':2,
 '125,000-149,999':19,
 '25,000-29,999':10,
 '90,000-99,999':17,
 '4,000-4,999':4,
 '80,000-89,999':16,
 '3,000-3,999':3,
 '200,000-249,999':21,
 '300,000-500,000':23,
 '> $500,000':24,
 '250,000-299,999': 22}, inplace=True) # Q24에 응답하지 않은 row는 삭제(결측치 제거)
DSjob1['Q25'].replace({'$0 ($USD)':1,
 '$1000-$9,999':4,
 '$100-$999':3,
 '$1-$99':2,
 '$10,000-$99,999':5,
 '$100,000 or more ($USD)':6,
 'unknown': 0}, inplace=True) # 결측치 0(unknown)
DSjob1['Q38'].replace({'Local development environments (RStudio, JupyterLab, etc.)':3,
 'Basic statistical software (Microsoft Excel, Google Sheets, etc.)':0,
 'Business intelligence software (Salesforce, Tableau, Spotfire, etc.)':2,
 'Advanced statistical software (SPSS, SAS, etc.)':1,
 'Other':5,
 'Cloud-based data software & APIs (AWS, GCP, Azure, etc.)':4 }, inplace=True) # 결측치 5(other)

/opt/anaconda3/envs/multi/lib/python3.9/site-packages/pandas/core/series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [ ]:
DSjob1['Q3'].replace({'Colombia': 3, 'United States of America': 3, 'Argentina': 3, 'Japan': 0,
       'India': 0, 'Brazil': 3, 'China': 0, 'Germany': 2, 'Indonesia': 0, 'Canada': 3,
       'Switzerland': 2, 'Other': 5, 'Singapore': 0, 'Russia': 0, 'South Africa': 1,
       'Egypt': 1, 'Netherlands': 2, 'Pakistan': 0, 'Nepal': 0, 'South Korea': 0,
       'Poland': 2, 'Belarus': 2, 'Tunisia': 1, 'Ukraine': 2, 'Belgium': 2,
       'Saudi Arabia': 0, 'Taiwan': 0, 'Nigeria': 1, 'Italy': 2, 'Spain': 2,
       'United Arab Emirates': 0, 'Mexico': 3, 'Viet Nam': 0, 'Thailand': 0,
       'United Kingdom of Great Britain and Northern Ireland': 2, 'France': 2,
       'Ghana': 1, 'Ireland': 2, 'Philippines': 0, 'Morocco': 1, 'Turkey': 0,
       'Iran, Islamic Republic of...': 0, 'Peru': 3, 'Romania': 2,
       'Republic of Korea': 0, 'Australia': 4, 'Chile': 3, 'Kenya': 1, 'Sweden': 2,
       'Bangladesh': 0 , 'Greece':2, 'Malaysia': 0, 'Portugal':2, 'Israel': 0,
       'Sri Lanka': 0 }, inplace=True) # 대륙별로 아시아 0, 아프리카 1, 유럽 2, 아메리카 3, 오세아니아 4, 그외 5(UN 분류를 따름)
# 주의: 한국은 'South Korea'와 'Republic of Korea' 두개
DSjob1['Q5'].replace({'Student':1, 'Data Engineer':10, 'Software Engineer':4, 'Data Scientist':3,
       'Data Analyst':5, 'Research Scientist':6, 'Other':0,
       'Currently not employed':2, 'Statistician':11,
       'Product/Project Manager':9, 'Machine Learning Engineer':7,
       'Business Analyst':8, 'DBA/Database Engineer':12 }, inplace=True) # 임의 입력, 결측치는 0(other)
kaggle2020 = DSjob1

In [ ]:
kaggle2020 = kaggle2020.loc[:,selected_columns]
kaggle2020.rename(
    columns={
        "Q1":"Age", 
        "Q2":"Gender", 
        "Q3":"Country", 
        "Q4":"Education Level", 
        "Q5":"Role", 
        "Q6":"Programming Experience", 
        "Q15":"ML Experience", 
        "Q20":"Company Size", 
        "Q21":"Company Data Scientists", 
        "Q24":"Yearly Compensation",
        "Q25":"Spent Money (5years)",
        "Q38":"Primary Tool"
    }, inplace=True)
#kaggle2020 = kaggle2020.loc[(kaggle2020.Role.isin(['Data Scientist','Student']))]
print("Kaggle 2020 data loaded")

Kaggle 2020 data loaded

## 원핫 인코딩

In [ ]:
pd.set_option('display.max_row', 500)
pd.set_option('display.max_columns', 100)
# pd.Series(list(kaggle2020.columns))

In [ ]:
def onehotEncoder(new_col_name, start, end):
    encode = pd.get_dummies(kaggle2020.iloc[:,start:end])

    kaggle2020[new_col_name] = encode.apply(sum, axis=1)

In [ ]:
onehotEncoder('# of Languages', 12, 25)  #Number of available languages
onehotEncoder('# of Visual tools', 25, 37)  #Number of available Visualization tools
onehotEncoder('# of ML frameworks', 37, 53)  #Number of available ML frameworks
onehotEncoder('# of ML algorithms', 53, 65)  #Number of available ML algorithms

In [ ]:
drop_columns = list(kaggle2020.columns)[12:65]

In [ ]:
kaggle2020.drop(columns=drop_columns,inplace=True)

In [ ]:
kaggle2020.head()

,Age,Gender,Country,Education Level,Role,Programming Experience,ML Experience,Company Size,Company Data Scientists,Yearly Compensation,Spent Money (5years),Primary Tool,# of Languages,# of Visual tools,# of ML frameworks,# of ML algorithms
1,4,0,3,4.0,1.0,4.0,2.0,NaN,NaN,NaN,NaN,0.0,7,2,3,6
2,3,0,3,3.0,10.0,4.0,2.0,5.0,7.0,18.0,6.0,2.0,3,4,4,3
3,4,0,3,2.0,4.0,5.0,0.0,4.0,1.0,8.0,1.0,0.0,3,1,0,0
4,3,0,3,3.0,3.0,4.0,4.0,3.0,4.0,19.0,5.0,3.0,3,3,4,5
5,3,0,0,3.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0

In [ ]:
for i in range(len(kaggle2020.columns)):
    print(kaggle2020.columns[i], ' : ', kaggle2020.iloc[:,i].unique())

Age  :  [4 3 1 2 0 8 7 5 9 6]
Gender  :  [0 1 2]
Country  :  [3 0 2 5 1 4]
Education Level  :  [ 4.  3.  2.  1.  5.  0. nan]
Role  :  [ 1. 10.  4.  3.  5.  6.  0.  2. 11.  9.  7. nan  8. 12.]
Programming Experience  :  [ 4.  5.  3.  1.  2.  6.  0. nan]
ML Experience  :  [ 2.  0.  4. nan  1.  3.  5.  6.  8.  7.]
Company Size  :  [nan  5.  4.  3.  1.  2.]
Company Data Scientists  :  [nan  7.  1.  4.  2.  3.  5.  6.]
Yearly Compensation  :  [nan 18.  8. 19. 15. 11. 17.  1.  0.  7. 20. 14.  4. 24. 23. 12. 10. 16.
  6. 13. 22.  5.  2.  9. 21.  3.]
Spent Money (5years)  :  [nan  6.  1.  5.  2.  4.  3.]
Primary Tool  :  [ 0.  2.  3. nan  4.  1.  5.]
# of Languages  :  [ 7  3  1  2  5  4  0  6  8  9 10 12 11]
# of Visual tools  :  [ 2  4  1  3  0  5  6 10  7  9  8 11]
# of ML frameworks  :  [ 3  4  0  5  1  2  8  6  7  9 14 11 10 15 13]
# of ML algorithms  :  [ 6  3  0  5  4  1  2  9  7  8 10 11]

In [ ]:
# kaggle2020.profile_report()

In [ ]:
# kaggle2020.to_csv('Final_Data.csv', index=None)

In [ ]:
# 결측치 제거(필요)

In [ ]:
# 특징 추출
from sklearn.feature_selection import RFE
from sklearn.svm import SVR

In [ ]:
# 목표변수 입력
y = kaggle2020['Yearly Compensation'] # 목표변수를 y에 지정하고
X = kaggle2020.drop('Yearly Compensation', axis=1) # X(독립변수)에서는 제거
# 특징 추출
estimator = SVR(kernel="linear")
rfe = RFE(estimator, n_features_to_select=4)

In [ ]:
rfe.fit(X, y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
for i in range(X.shape[1]):
    print('Column: %d, Rank: %d, Selected=%s' % (i, rfe.ranking_[i], rfe.support_[i]))

In [ ]:
kaggle2020_RFE = kaggle2020.copy()
for i in range(X.shape[1]):
    if rfe.support_[i] == False:
        if i < n:
            k = i
        else:
            k = i+1
        kaggle2020_RFE.drop(kaggle2020.columns[[k]], axis=1,
                      inplace=True)
kaggle2020_RFE.head()

In [ ]:
kaggle2020.profile_report()